export SERVER_PORT=8083
export SERVER_ADDR="localhost"

export DATABASE_URL="root:Qaz1@345@tcp(127.0.0.1:3306)/alpha?charset=utf8&parseTime=True&loc=Local"
export DATABASE_TYPE="mysql"

export AUTOMIGRATE=0
export JWT_SECRET_KEY="kz86HcnwKSn2k2vk6Ddw04kdck9k9SKedWFdGkwe70"

export LOG_FORMAT="stdout" #JSON and REGULAR
export LOG_OUTPUT="stdout" #stdout means the output, otherwise it become the file path
export LOG_LEVEL="debug" #trace debug info warn error fatal panic

export LOGAPI_FORMAT="json" #JSON and REGULAR
export LOGAPI_OUTPUT="log/rms_api_logger.log" #filepath
export LOGAPI_LEVEL="debug" #trace debug info warn error fatal panic

export GIN_MODE=debug #debug, release & test, in the production rename it to the release

export OMEGA_DEFAULT_LANGUAGE=en #can be en, ku, ar and etc
